<h3>其他方式登录</h3>
<ul class="unstyled">
	<li><a href="/auth/taobao"><img src="/assets/taobao.png"/></a></li>
	<li><a href="/auth/tsina"><img src="/assets/weibo.png"/></a></li>
	<li><a href="/auth/tqq"><img src="/assets/weibo.png"/></a></li>
</ul>