<div>
	<div class="span10">
		<ul class="unstyled prod_list">
			<% @products.each do |@product| %>
				<li class="row border">
					<%= render "item" %>
				</li>
			<% end %>
		</ul>
		<%= will_paginate @products %>
	</div>
	<div class="span2">
		aaaaaaa
	</div>	
</div>
