<div class="row">
	<%= render "item" %> 
</div>
<ul class="nav nav-tabs">
	<li class="active"><a href="#detail" data-toggle="tab">宝贝详情</a></li>
	<li><a href="#shares" data-toggle="tab">买家晒单</a></li>
	<li><a href="#shop"  data-toggle="tab">店铺详情</a></li>
</ul>
<div class="tab-content">
	<div id="detail" class="tab-pane product_detail active">
		<%=raw @product.detail %>	
	</div>	
	<div id="shares" class="tab-pane">
		<%= render "shares/list" %>
	</div>
	<div id="shop" class="tab-pane">
		shop....
	</div>
</div>